################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BatteryEvaluation/bin/Debug/netcoreapp3.1
/BatteryEvaluation/obj
/BatteryEvaluation.Test/bin/Debug/netcoreapp3.1
/BatteryEvaluation.Test/obj
